* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*navbar*/ 
header {
    background-color: white;
    left: 0;
    right: 0;
    width: 100%;
}

body {
    font-family: Poppins;
    margin: 0px;
    padding: 0px;
    background-color: rgb(186, 199, 190);
}

nav {
    background-color: #86BAA1;
    text-align: center;
    padding-bottom: 15px;
}

nav a {
    padding-left: 6px;
    font-size: 24px;
    text-decoration: none;
    padding: 0 20px 20px 0;
    color: black;
}

nav a:hover {
    background-color: #A0E8AF;
    border-radius: 0 0 20px 20px;

}
/*first look*/
.finca-video {
    position: relative; 
    width: 100%;
    top: 0;
    left: 0;
    padding-bottom: 25px;
}

#myVideo {
    z-index:0;
    height: 100%;
    width: 100%;
}
.dark-overlay {
    position: absolute;
    top: 38%;
    text-align: center;
    background: rgb(0, 0, 0, 0.7);
    height: 200px;
    width: 100%;
    color: white;
    font-size: 35px;
    display: block;
}
/*FINCAS FEATURED*/
.letrero {
    text-align: center;
    font-size: 40px;
}
 
.fincas-hermosas{
    display: flex;
    background-color: #86BAA1;
    padding: 35px;
    font-size: 25px;
    margin: 3.5rem;
    box-shadow: 0 1rem 3rem grey;
}

#Villa_Libia_frente {
    box-shadow: 0 1rem 3rem white;
    border-radius: 10%;
}

.text h1{
    right: 0px;   
    text-align: center;
    font-size: 50px;
}

.text h2 {
    text-align: center;
    font-size: 30px;
    position: relative;
    top: 20%;
}

.text {
    width: 100%;
    background-color: #599B7C;
    border-radius: 15px;
    margin: 20px;   
}

.espacios-acogedores {
    background-color: #86BAA1;
    padding: 35px;
    font-size: 25px;
    margin: 3.5rem;
    box-shadow: 0 1rem 3rem grey;

}

#cañadita_sala {
    display: flex;
    box-shadow: 0 1rem 3rem white;
    border-radius: 10%;
    width: 80%;
    position: relative;
    left: 10%;
    max-width: 1200px;
}

.entretenimiento {
    display: flex;
    background-color: #86BAA1;
    padding: 35px;
    font-size: 25px;
    margin: 3.5rem;
    box-shadow: 0 1rem 3rem grey;
}

#FIALAR_juegos {
    box-shadow: 0 1rem 3rem white;
    border-radius: 10%;
    position: relative;
    left: -30px;
}

#FIALAR-text {
    position: relative;
    left: -30px;
}
